page-login {
  $transparent-white: rgba(255, 255, 255, .6);
  // This is just to make the header transparent and button/icon with white color

    // Footer
  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    background: rgba(255, 255, 255, .06);
    min-height: 47px;
  }
  .footer-md::before {
    border-top: 1px solid $transparent-white;
    background-image: none;
  }

  //Facebook button
  .login-button {
    text-align: center;
    text-transform: none;
    border-radius: 0px !important;
    position: absolute;
    bottom: 0;
    padding-bottom: 0px;
  }
  // Facebook icon
  ion-icon {
    padding-right: 10px;
    font-size: 2.2rem;
  }

  .kepala{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
  }
}