<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
<ion-title>{{ 'FormPage' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>
    <ion-card-content text-center>
        <img src="{{ img }}"/>
      <!-- <img src="./assets/imgs/card/sample.png" /> -->
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-scroll scrollX="true" direction="x">
      <ion-card class="tiny" *ngFor="let item of listOne" style="border-radius: 7px 7px 7px 7px;">
        <ion-card-content (click)="openGallery()">
          <div *ngIf="item.image">
            <img [src]="item.image" />
          </div>
        </ion-card-content>
      </ion-card>
    </ion-scroll> -->
  
    <!-- Form Material -->


    <ion-list inset>
      <form [formGroup]="inputForm">
        <ion-item>
          <ion-label>{{ 'Category' | translate }}</ion-label>
          <ion-select formControlName="category" multiple="true" [class.invalid]="!inputForm.controls['category'].valid && (inputForm.controls['category'].dirty || submitAttempt)">
            <ion-option value="tops">Tops</ion-option>
            <ion-option value="bottom">Bottom</ion-option>
            <ion-option value="shoes">Shoes</ion-option>
            <ion-option value="accessories">Accessories</ion-option>
          </ion-select>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['category'].valid && (inputForm.controls['category'].dirty || submitAttempt)"><strong>{{ 'ValidCategory' | translate }}</strong></p> 

        <ion-item>
          <ion-input formControlName="brand" type="text" placeholder="{{ 'Brand' | translate }}" [class.invalid]="!inputForm.controls['brand'].valid && (inputForm.controls['brand'].dirty || submitAttempt)"></ion-input>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['brand'].valid && (inputForm.controls['brand'].dirty || submitAttempt)"><strong>{{ 'ValidBrand' | translate }}</strong></p> 

        <ion-item>
          <ion-input formControlName="color" type="color" placeholder="Color" [class.invalid]="!inputForm.controls['color'].valid && (inputForm.controls['color'].dirty || submitAttempt)"></ion-input>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['color'].valid && (inputForm.controls['color'].dirty || submitAttempt)"><strong>{{ 'ValidColour' | translate }}</strong></p> 

        <ion-item>
          <ion-input formControlName="price" type="price" placeholder="{{ 'Price' | translate }}" type="number" [class.invalid]="!inputForm.controls['price'].valid && (inputForm.controls['price'].dirty || submitAttempt)"></ion-input>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['price'].valid && (inputForm.controls['price'].dirty || submitAttempt)"><strong>{{ 'ValidPrice' | translate }}</strong></p> 

        <ion-item>
          <ion-input formControlName="tag" type="tag" placeholder="{{ '#TAG' | translate }}" [class.invalid]="!inputForm.controls['tag'].valid && (inputForm.controls['tag'].dirty || submitAttempt)"></ion-input>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['tag'].valid && (inputForm.controls['tag'].dirty || submitAttempt)"><strong>{{ 'ValidTag' | translate }}</strong></p> 

        <ion-item>
          <ion-input formControlName="location" type="location" placeholder="{{ 'Location' | translate }}" [class.invalid]="!inputForm.controls['location'].valid && (inputForm.controls['location'].dirty || submitAttempt)"></ion-input>
        </ion-item>
          <p style="color:red;" *ngIf="!inputForm.controls['location'].valid && (inputForm.controls['location'].dirty || submitAttempt)"><strong>{{ 'ValidLocation' | translate }}</strong></p> 
      </form>

    </ion-list>

    <ion-fab right bottom (click)="goPost()">
      <button ion-fab class="pop-in" color="edit" >
      <ion-icon name="ios-cloud-upload"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
