page-subsmary {
    ion-card {
        width: 80% !important;
        height: auto;
        display: inline-block;
    }

    .bold{
        font-weight: bold;
        font-size: 17px;
    }

    .val{
        font-style: italic;
        font-size: 15px;
    }

}
