<!--
  Generated template for the SubsmaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>
  <!-- Tops Display -->
  <ion-card *ngFor="let top of detailTops" style="border-radius: 7px 7px 7px 7px;">
    <ion-card-content>

      <!-- <button ion-item (click)="openDetailActivity(item)">            
            More info
            <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
          </button> -->
      <div text-center *ngIf="top.image">
        <img [src]="top.image" />
        <br>
        <ion-list>
          <div class="bold">
            {{ top.desc }}</div>
          <div>
            {{ top.quan }}</div>
          <div class="val">
            {{ top.value }}
          </div>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Bottom Display -->
  <ion-card *ngFor="let bottom of detailBottom" style="border-radius: 7px 7px 7px 7px;">
    <ion-card-content>

      <!-- <button ion-item (click)="openDetailActivity(item)">            
            More info
            <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
          </button> -->
      <div text-center *ngIf="bottom.image">
        <img [src]="bottom.image" />
        <br>
        <ion-list>
          <div class="bold">
            {{ bottom.desc }}</div>
          <div>
            {{ bottom.quan }}</div>
          <div class="val">
            {{ bottom.value }}
          </div>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Shoes Display -->
  <ion-card *ngFor="let shoes of detailShoes" style="border-radius: 7px 7px 7px 7px;">
    <ion-card-content>

      <!-- <button ion-item (click)="openDetailActivity(item)">            
            More info
            <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
          </button> -->
      <div text-center *ngIf="shoes.image">
        <img [src]="shoes.image" />
        <br>
        <ion-list>
          <div class="bold">
            {{ shoes.desc }}</div>
          <div>
            {{ shoes.quan }}</div>
          <div class="val">
            {{ shoes.value }}
          </div>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
   <!-- Accessories Display -->
   <ion-card *ngFor="let accessories of detailAccessories" style="border-radius: 7px 7px 7px 7px;">
    <ion-card-content>

      <!-- <button ion-item (click)="openDetailActivity(item)">            
            More info
            <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
          </button> -->
      <div text-center *ngIf="accessories.image">
        <img [src]="accessories.image" />
        <br>
        <ion-list>
          <div class="bold">
            {{ accessories.desc }}</div>
          <div>
            {{ accessories.quan }}</div>
          <div class="val">
            {{ accessories.value }}
          </div>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>