page-subsuccess {
  $transparent-white: rgba(255, 255, 255, .6);


  // Footer
  ion-footer {
    height: 50px;
  }
  .footer {
    text-align: center;
    // background: rgba(132, 212, 26, 0.836);
    min-height: 47px;
  }
  .footer-md::before {
    border-top: 1px solid $transparent-white;
    background-image: none;
  }
}
