<ion-content parallax-header no-bounce class="bg-modal" >
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
  <div class="circular"> <img style="border-radius: 50%" width="200%" *ngIf="imageUrl" [src]="imageUrl" /> </div>
    <h2>{{ (userFB | async)?.username }}</h2>
    <p>{{ (userFB | async)?.email }}</p>
    <p *ngFor="let users of user" class="profile-description">{{users.description}}</p>

    <ion-row *ngFor="let users of user" class="profile-numbers">
      <ion-col col-4 (click)="openSum()">
        <p>Items</p>
        <span>{{users.items}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Value</p>
        <span>{{users.value}}</span>
      </ion-col>
      <ion-col col-4 (click)="openSubs()">
        <p>Subscription</p>
        <span>{{users.subs}}</span>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <br>

  <!-- Second content for setting bawah ni -->
  <div class="main-content-two">
    <ion-list no-border>
      <ion-list-header>
        General
      </ion-list-header>
      <ion-item>
        <ion-icon name='settings' item-start></ion-icon>
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="language">
          <ion-option *ngFor="let language of languages" [value]="language">{{language}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"></ion-toggle>
        <ion-label class="label">Notifications </ion-label>
        <ion-icon name='notifications' item-start></ion-icon>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="autoSavePhotos" (click)="toggleautoSavePhotos()"></ion-toggle>
        <ion-label class="label">Auto-save Photos </ion-label>
        <ion-icon name='md-photos' item-start></ion-icon>
      </ion-item>
    </ion-list>

    <!-- List yang kedua for settings -->
    <ion-list>
      <ion-list-header>
        Wardrobe
      </ion-list-header>
      <ion-item>
        <ion-icon name='ios-navigate' item-start></ion-icon>
        <ion-label>Custom Location</ion-label>
        <ion-select [(ngModel)]="loc">
          <ion-option *ngFor="let loc of customLoc" [value]="loc">{{loc}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--<ion-list>-->
      <!--<ion-list-header>-->
        <!--Other-->
      <!--</ion-list-header>-->
      <!--<ion-item>-->
        <!--<ion-icon name='power' item-start></ion-icon>-->
        <!--<button ion-button (click)="editProfile()" item-middle>-->
          <!--Edit Profile-->
        <!--</button>-->
        <!--<button ion-button (click)="logOut()" item-end>-->
          <!--Logout-->
        <!--</button>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="primary" (click)="editProfile()">Edit Profile</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger" (click)="logOut()">Logout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
