<ion-header>
  <ion-navbar color="main">
    <ion-title>
      <ion-title>
        <img src="assets/imgs/logo-white.png" alt="logo" height="30" />
      </ion-title>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openShuffle()">
          <ion-icon name="infinite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-justify>

  <!-- <ion-slides autoplay="2500" loop="true" effect="fade">
    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides> -->

  <div padding-horizontal padding-top text-center>
    <img src="assets/imgs/small/tops.png"><a style="font-size: 12px; font-weight: bolder"> {{ 'Tops' | translate }}</a>
  </div>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let item of listOne" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery(item.title,item.subTitle)">
        <!-- <button ion-item (click)="openDetailActivity(item)">            
          More info
          <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
        </button> -->
        <div *ngIf="item.image">
          <img [src]="item.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <div padding-horizontal padding-top text-center>
    <img src="assets/imgs/small/pants.png"><a style="font-size: 12px; font-weight: bolder"> {{ 'Bottom' | translate }}</a>
  </div>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemTwo of listTwo" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery(itemTwo.title,itemTwo.subTitle)">
        <div *ngIf="itemTwo.image">
          <img [src]="itemTwo.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <div padding-horizontal padding-top text-center>
    <img src="assets/imgs/small/shoes.png"><a style="font-size: 12px; font-weight: bolder"> {{ 'Shoes' | translate }}</a>
  </div>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemThree of listThree" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery(itemThree.title,itemThree.subTitle)">
        <div *ngIf="itemThree.image">
          <img [src]="itemThree.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <div padding-horizontal padding-top text-center>
    <img src="assets/imgs/small/bracelet.png"><a style="font-size: 12px; font-weight: bolder"> {{ 'Accessories' | translate }}</a>
  </div>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemFour of listFour" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery(itemFour.title,itemFour.subTitle)">
        <div *ngIf="itemFour.image">
          <img [src]="itemFour.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>
</ion-content>