<!--
  Generated template for the ShufflePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shuffler</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let item of listOne" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery()">
        <!-- <button ion-item (click)="openDetailActivity(item)">            
          More info
          <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
        </button> -->
        <div *ngIf="item.image">
          <img [src]="item.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemTwo of listTwo" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery()">
        <div *ngIf="itemTwo.image">
          <img [src]="itemTwo.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemThree of listThree" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery()">
        <div *ngIf="itemThree.image">
          <img [src]="itemThree.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let itemFour of listFour" style="border-radius: 7px 7px 7px 7px;">
      <ion-card-content (click)="openGallery()">
        <div *ngIf="itemFour.image">
          <img [src]="itemFour.image" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

<ion-footer text-center>
<img width="15%" src="../assets/imgs/magic-wand.png"/>
</ion-footer>
</ion-content>
