<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Edit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-fab right bottom (click)="goPost()">
    <button ion-fab class="pop-in" color="primary" >
      Done
    </button>
  </ion-fab>

  <ion-card>
    <ion-card-content text-center>
      <img class="tiny" src="./assets/imgs/card/example.png" />
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-range min="0" max="100" step="2" [(ngModel)]="brightness">
      <ion-icon small range-left name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="0" max="100" step="2" [(ngModel)]="contrast">
      <ion-icon small range-left name="ios-contrast"></ion-icon>
      <ion-icon range-right name="ios-contrast"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="0" max="100" step="2" [(ngModel)]="saturation">
      <ion-icon small range-left name="md-color-fill"></ion-icon>
      <ion-icon range-right name="md-color-fill"></ion-icon>
    </ion-range>
  </ion-item>
</ion-content> -->

<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'EditPage' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content text-center>
      <img [src]="image" *ngIf="imageAfter" #imageResult />
      <img src="./assets/imgs/card/sample.png" *ngIf="imageBefore" />
    </ion-card-content>
  </ion-card>

  <!-- <img src="{{picurl}}"/> -->

  <!-- <ion-list *ngIf="">
    <ion-list-header>
      Adjust Image Filters
    </ion-list-header>

    <ion-item>
      <ion-label>Brightness</ion-label>
      <ion-range min="-100" max="100" pin="true" step="1" [(ngModel)]="brightness" color="secondary">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Contrast</ion-label>
      <ion-range min="-100" max="100" pin="true" step="1" [(ngModel)]="contrast" color="secondary">
        <ion-icon range-left small name="contrast"></ion-icon>
        <ion-icon range-right name="contrast"></ion-icon>
      </ion-range>
    </ion-item>


    <ion-item>
      <ion-label>Saturation</ion-label>
      <ion-range min="-100" max="100" pin="true" step="1" [(ngModel)]="saturation" color="secondary">
        <ion-icon range-left small name="thermometer"></ion-icon>
        <ion-icon range-right name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>

  </ion-list> -->

  <ion-fab right bottom>
    <button ion-fab color="edit" (click)="goPost()" >
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
