page-itemmodal {
    .round {
      border-bottom-left-radius: 8%;
      border-bottom-right-radius: 8%;
      }
      .scroll-content {
        overflow-y: scroll;
      }
      .swiper-pagination-bullet {
        background-color: white;
      }
      
      .swiper-pagination-bullet-active {
        background-color: #FA3;
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      }
      ion-list {
        margin: 0 !important;
      }
      
      button.footer-button {
        height: 15%;
        background-color: #578be4;
        bottom: 0px;
        margin: 0;
      }
    }
    